{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wingastock | Products</title>
    <link rel="stylesheet" href="{% static 'admin_css/admin_style.css' %}">

    <style>
        .messages {
            margin: 20px 0;
        }

        .alert {
            padding: 12px 18px;
            margin-bottom: 10px;
            border-radius: 5px;
            color: #fff;
            font-weight: 500;
        }

        .success {
            background: #28a745;
        }

        .error {
            background: #dc3545;
        }

        .warning {
            background: #ffc107;
            color: #000;
        }

        .info {
            background: #17a2b8;
        }
    </style>
</head>

<body>

    <div class="row-holder">

        <!-- Header -->
        <div class="header-holder-100">
            <div class="header-100">
                <div class="action-holder-101">
                    <button type="button" id="menu1" onclick="open_menu('open')">m</button>
                    <button type="button" id="menu2" style="display: none;" onclick="open_menu('close')">c</button>
                </div>
                <div class="title-holder-101">
                    <button type="button">Wingastock | Admin</button>
                </div>
                <div class="title-holder-101" style="float: right;">
                    <button type="button">{{ user.username }}</button>
                </div>
            </div>
        </div>


        <!-- center content -->
        <div class="center-content-200">

            <div class="left-holder-201" id="nav">
                <div class="nav-bar-holder-202">
                    <p style="text-align: center; font-weight: bold;">Options</p>

                    <ul>
                        <a href="{% url 'admin_home' %}">
                            <li>Dashboard</li>
                        </a>
                    </ul>

                    <ul>
                        <a href="{% url 'admin_products' %}">
                            <li class="active-0">Products</li>
                        </a>
                    </ul>

                    <ul>
                        <a href="{% url 'admin_sellers' %}">
                            <li>Sellers</li>
                        </a>
                    </ul>

                    <ul>
                        <a href="{% url 'logout_admin' %}">
                            <li>Exit</li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="right-holder-201">
                <div class="card-holder-201 products-202">

                    <p style="font-weight: bold;">Products list</p>

                    <button type="button" class="close-205" style="float: right;"
                        onclick="window.location.href=`{% url 'add_product' %}`">Add product</button>


                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="alert {{ message.tags }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="filter-holder-202" style="width: 100%;">
                        <div><input type="text" id="searchInput" placeholder="Search products..."
                                onkeyup="searchProducts()"></div>
                    </div>


                    <table style="text-align: left;">
                        <thead>
                            <tr>
                                <th class="id">ID</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Location</th>
                                <th style="text-align: right;">Actions</th>
                            </tr>
                        </thead>

                        <tbody id="productTable">

                            {% for product_data in products %}

                            <tr>
                                <td class="id">{{ product_data.id }}</td>
                                <td>
                                    <a href="{% url 'preview_p' product_data.id %}" style="text-decoration: none;">{{ product_data.title }}</a>
                                </td>
                                <td>{{ product_data.category }}</td>
                                <td>{{ product_data.price }} Tsh</td>
                                <td style="text-align: left;"><span class="active">{{ product_data.location }}</span>
                                </td>
                                <td style="text-align: right;">
                                    <button class="btn edit"
                                        onclick="window.location.href=`{% url 'edit_product' product_data.id %}`">Edit</button>
                                    <button class="btn delete"
                                        onclick="window.location.href=`{% url 'delete_product' product_data.id %}`">Delete</button>
                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>



    <script>
        function open_menu(click) {
            let menu1 = document.getElementById('menu1');
            let menu2 = document.getElementById('menu2');
            let nav = document.getElementById('nav');

            if (click == 'open') {
                menu1.style.display = 'none';
                menu2.style.display = 'inline-block';
                nav.style.display = 'inline-block';
            }
            else {
                menu1.style.display = 'inline-block';
                menu2.style.display = 'none';
                nav.style.display = 'none';
            }
        }
    </script>

    <script>
        document.getElementById("searchInput").addEventListener("input", function () {
            const filter = this.value.toLowerCase();
            const rows = document.querySelectorAll("#productTable tr");

            rows.forEach(row => {
                const id = row.cells[0].textContent.toLowerCase();
                const product = row.cells[1].textContent.toLowerCase();
                const seller = row.cells[2].textContent.toLowerCase();
                const status = row.cells[4].textContent.toLowerCase();

                const match =
                    id.includes(filter) ||
                    product.includes(filter) ||
                    seller.includes(filter) ||
                    status.includes(filter);

                row.style.display = match ? "" : "none";
            });
        });
    </script>
    <script>
        setTimeout(function () {
            document.querySelectorAll(".alert").forEach(function (alert) {
                alert.style.transition = "opacity 0.5s";
                alert.style.opacity = "0";
                setTimeout(() => alert.remove(), 500);
            });
        }, 4000);
    </script>
</body>

</html>