{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wingastock | Sellers</title>
    <link rel="stylesheet" href="{% static 'admin_css/admin_style.css' %}">
</head>

<body>

    <div class="row-holder">

        <!-- Header -->
        <div class="header-holder-100">
            <div class="header-100">
                <div class="action-holder-101">
                    <button type="button" id="menu1" onclick="open_menu('open')">m</button>
                    <button type="button" id="menu2" style="display: none;" onclick="open_menu('close')">c</button>
                </div>
                <div class="title-holder-101">
                    <button type="button">Wingastock | Admin</button>
                </div>
                <div class="title-holder-101" style="float: right;">
                    <button type="button">{{ user.username }}</button>
                </div>
            </div>
        </div>


        <!-- center content -->
        <div class="center-content-200">

            <div class="left-holder-201" id="nav">
                <div class="nav-bar-holder-202">
                    <p style="text-align: center; font-weight: bold;">Options</p>

                    <ul>
                        <a href="{% url 'admin_home' %}">
                            <li>Dashboard</li>
                        </a>
                    </ul>

                    <ul>
                        <a href="{% url 'admin_products' %}">
                            <li>Products</li>
                        </a>
                    </ul>

                    <ul>
                        <a href="{% url 'admin_sellers' %}">
                            <li class="active-0">Sellers</li>
                        </a>
                    </ul>

                    <ul>
                        <a href="{% url 'logout_admin' %}">
                            <li>Exit</li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="right-holder-201">
                <div class="card-holder-201 products-202">

                    <p style="font-weight: bold;">Sellers list</p>
                    <div class="filter-holder-202" style="width: 100%;">
                        <div><input type="text" id="searchInput" placeholder="Search sellers ..."></div>
                    </div>

                    <table style="width: auto;">
                        <thead>
                            <th class="id">#</th>
                            <th>Phone</th>
                        </thead>

                        <tbody id="productTable">
                            {% for sellers in sellers_list %}
                            <tr>
                                <td class="id">{{ sellers.id }}</td>
                                <td>{{ sellers.phone }}</td>
                            </tr>

                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>

        </div>

    </div>



    <script>
        function open_menu(click) {
            let menu1 = document.getElementById('menu1');
            let menu2 = document.getElementById('menu2');
            let nav = document.getElementById('nav');

            if (click == 'open') {
                menu1.style.display = 'none';
                menu2.style.display = 'inline-block';
                nav.style.display = 'inline-block';
            }
            else {
                menu1.style.display = 'inline-block';
                menu2.style.display = 'none';
                nav.style.display = 'none';
            }
        }
    </script>

    <script>
        document.getElementById("searchInput").addEventListener("input", function () {
            const filter = this.value.toLowerCase();
            const rows = document.querySelectorAll("#productTable tr");

            rows.forEach(row => {
                const id = row.cells[0].textContent.toLowerCase();
                const phone = row.cells[1].textContent.toLowerCase();


                const match =
                    id.includes(filter) ||
                    phone.includes(filter);

                row.style.display = match ? "" : "none";
            });
        });
    </script>
</body>

</html>