{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wingastock | Dashboard</title>
    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'seller_css/sellers_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    
</head>

<body>

    <!-- Page Loader -->
    <div id="page-loader">
        <div class="loader-content">
            <div class="spinner"></div>
            <div class="loading-text">Loading<span class="dots"></span></div>
        </div>
    </div>

    <div class="row-holder">

        <!-- Header -->
        <div class="header-holder-100">
            <div class="header-100">
                <div class="action-holder-101">
                    <button type="button" id="menu1" onclick="open_menu('open')"><i class="fas fa-bars"></i></button>
                    <button type="button" id="menu2" style="display: none;" onclick="open_menu('close')"><i
                            class="fas fa-times"></i></button>
                </div>
                <div class="title-holder-101">
                    <button type="button"><span>Wingastock | Seller</span></button>
                </div>
                <div class="title-holder-101" style="float: right;">
                    <button type="button"><i class="fas fa-user"></i> {{ user.email }}</button>
                </div>
            </div>
        </div>


        <!-- center content -->
        <div class="center-content-200">

            <div class="left-holder-201" id="nav">
                <div class="nav-bar-holder-202">

                    <ul>
                        <a href="{% url 'seller_home' %}">
                            <li>Dashboard <i class="fas fa-tachometer-alt"></i></li>
                        </a>
                    </ul>

                    <ul>
                        <a href="{% url 'seller_products' %}">
                            <li class="active-0">Products <i class="fas fa-shopping-bag"></i></li>
                        </a>
                    </ul>

                    <ul>
                        <a href="{% url 'mail_home' %}">
                            <li>Mails <i class="fas fa-envelope"></i></li>
                        </a>
                    </ul>


                    <ul>
                        <a href="{% url 'seller_account' %}">
                            <li>Account <i class="fas fa-user"></i></li>
                        </a>
                    </ul>

                    <ul>
                        <a href="{% url 'seller_terms_conditions' %}">
                            <li>Terms and condtions <i class="fas fa-file-contract"></i></li>
                        </a>
                    </ul>

                    <ul>
                        <a href="{% url 'logout_seller' %}">
                            <li>Exit <i class="fas fa-sign-out-alt"></i></li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="right-holder-201">

                <div class="notify-card-201">
                    <div>

                        <p style="font-size: 50px;">
                            <i class="fas fa-exclamation-triangle" style="font-size: inherit;"></i>
                        </p>

                        <p style="font-size: 20px;">Platform Alert</p>

                        <p>You have reached the maximum number of products you can post on the platform.</p>

                        <p>We apologize for any inconvenience this may cause. We are currently working on a payment
                            feature that will allow sellers to post unlimited products on the platform.</p>

                        <p style="font-size: 18px;">Thank you for your patience and understanding. We truly appreciate
                            your business and look
                            forward to providing you with an even better experience.</p>

                    </div>
                </div>

            </div>

        </div>

    </div>


    <script>
        window.addEventListener("load", function () {

            const loader = document.getElementById("page-loader");

            if (loader) {
                loader.classList.add("hidden");

                setTimeout(function () {
                    loader.remove();
                }, 400);
            }

        });
    </script>

    <script>
        function open_menu(click) {
            let menu1 = document.getElementById('menu1');
            let menu2 = document.getElementById('menu2');
            let nav = document.getElementById('nav');

            if (click == 'open') {
                menu1.style.display = 'none';
                menu2.style.display = 'inline-block';
                nav.style.display = 'inline-block';
            }
            else {
                menu1.style.display = 'inline-block';
                menu2.style.display = 'none';
                nav.style.display = 'none';
            }
        }
    </script>
</body>

</html>