{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wingastock | Mails</title>
    <link rel="stylesheet" href="{% static 'mail_css/style1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>

    <div class="row-holder-100">

        <div class="left-holder-101" id="left-holder-101">
            <div class="left-content-holder-102">
                <h1 id="head">Wingastock <br> Mails System (WMS)</h1>


                <div class="nav-bar-holder-102">
                    <div>
                        <ul>
                            <a href="{% url 'seller_home' %}">
                                <li>Home <i class="fas fa-home"></i></li>
                            </a>

                            <a href="{% url 'unreaded' %}">
                                <li>Unreaded mails <i class="fas fa-envelope"></i></li>
                            </a>

                            <a href="{% url 'readed' %}">
                                <li>Readed mails <i class="fas fa-envelope-open"></i></li>
                            </a>

                            <a href="{% url 'sent_mails' %}">
                                <li>Sent mails <i class="fas fa-paper-plane"></i></li>
                            </a>

                            <a href="{% url 'mail_settings' %}">
                                <li class="active-page">Settings <i class="fas fa-cog"></i></li>
                            </a>
                        </ul>
                    </div>
                </div>

                <!-- Recent messages -->
                <div class="messages-list-holder-102">
                    <div>
                        <p><i class="fas fa-clock"></i> Recent Senders</p>

                        <!-- Back top -->
                        <button class="back-102" onclick="window.location.href='#head'">
                            <i class="fas fa-arrow-up"></i>
                        </button>

                        <div>
                            <ul>
                                {% for sender in senders %}
                                <a href="{% url 'mail_read' sender.mail_id %}">
                                    <li><i class="fas fa-user"></i> {{ sender.sender_id }} <i
                                            class="fas fa-clock sender-100"></i></li>
                                </a>
                                {% empty %}
                                <p style="padding: 10px; text-align: center; color: green; font-weight: bold;">Sender's
                                    list empty! <br> No mail received</p>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-holder-101" id="right-holder-101">

            <div class="center-header-holder-102">
                <h1><i class="fas fa-envelope"></i> Wingastock Mail System (WMS)</h1>
                <button type="button" onclick="toggleLeftPanel()"><i class="fas fa-bars"></i></button>
            </div>

            <div class="search-messages-holder-102">
                <div>
                    <input type="text" placeholder="Search messages, senders..." onclick="searchMessages()">
                </div>
            </div>

            <!-- Search result bar -->
            <div class="search-result-holder-103" id="search-result-holder-103">
                <div class="search-content-103">

                    <div>
                        <p>Search result for: <span id="search-query">"example query"</span></p>
                    </div>

                </div>
            </div>

            <div class="center-content-holder-102">

                <!-- if no sender selected-->
                <div class="no-sender-selected-102">
                    <h1><i class="fas fa-envelope"></i> No sender selected</h1>
                    <p>Please select a sender to view the messages.</p>
                </div>

            </div>

        </div>

    </div>


    <script>
        function toggleLeftPanel() {
            const leftPanel = document.getElementById('left-holder-101');
            const rightPanel = document.getElementById('right-holder-101');

            if (leftPanel.style.display === 'none') {
                leftPanel.style.display = 'inline-block';
                leftPanel.style.width = '100%';
                rightPanel.style.display = 'none';

            } else {
                leftPanel.style.display = 'none';
                rightPanel.style.width = '100%';
                rightPanel.style.display = 'inline-block';
            }
        }

        function searchMessages() {
            const searchInput = document.querySelector('.search-messages-holder-102 input');
            const searchQuery = searchInput.value.trim();
            const searchResultHolder = document.getElementById('search-result-holder-103');
            const searchQuerySpan = document.getElementById('search-query');

            if (searchQuery !== '') {
                // Display the search result bar
                searchResultHolder.style.display = 'block';
                searchQuerySpan.textContent = `"${searchQuery}"`;

                // Perform your search logic here (e.g., filter messages based on the query)
                // You can update the content of the search result bar accordingly.
            } else {
                // Hide the search result bar if the input is empty
                searchResultHolder.style.display = 'none';
            }
        }
    </script>
</body>

</html>