.header-0002 {
    width: 100%;
    height: 50px;
    background: transparent;
}

.header-0002>div {
    float: left;
    width: auto;
}

.back-icon-holder-003 {
    width: 100%;
    height: 50px;
    background: transparent;
    padding: 5px;
}

.back-icon-holder-003>button {
    width: 40px;
    height: 40px;
    color: crimson;
    border-style: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.back-icon-holder-003>button:hover {
    opacity: 0.7;
}

.back-icon-holder-003>button>i {
    font-size: 15px;
}


.search-product-holder-0003 {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
}

.search-0003 {
    margin-top: 80px;
}

.search-product-0004 {
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 5px;
}


.search-product-0004>input {
    width: 100%;
    height: 40px;
    border-style: none;
    border-radius: 50px;
    padding-left: 20px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.179);
}

.search-product-0004>input:hover {
    border: 1px solid crimson;
}

.favorite-product-holder-003 {
    width: 100%;
    height: auto;
}

.favorite-product-003 {
    width: 100%;
    height: auto;
}

.favorite-product-003>div {
    float: left;
    width: 50%;
    height: 250px;
}

.product-card-holder-004 {
    width: 100%;
    height: auto;
    padding: 10px;
}



.fav-004 {
    width: auto;
    height: auto;
    background: rgba(245, 245, 245, 0.82);
    padding: 5px;
    border-radius: 5px;
}


@keyframes favorite_product {
    from {
        width: 98%;
        height: 98%;
        margin: auto;
    }

    to {
        width: 100%;
        height: 100%;
    }
}


.list-fav-product-holder-003 {
    width: 100%;
    height: auto;
    float: left;
}

.list-fav-product-003 {
    width: 100%;
    height: auto;

}

.list-fav-product-003>div {
    float: left;
    width: 100%;
    height: 150px;
    padding: 5px;
}

.list-fav-003 {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.list-fav-003:hover {
    background: rgba(245, 245, 245, 0.82);
    border-radius: 5px;
}

.list-fav-003>div {
    float: left;
    height: 100%;
    overflow: hidden;
}

.fav-image-003 {
    width: 40%;
    height: 100%;
}

.fav-image-003>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center;
    border-radius: 5px;
}

.fav-details-003 {
    width: 60%;
    padding: 10px;
}

.product-card-holder-0004>div {
    float: left;
    width: 100%;
    padding: 10px;
}

.product-card-holder-0004>div>div {
    width: 100%;
    height: auto;
    border-radius: 5px;
    float: left;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.142);
}

.category-title-0004 {
    width: 100%;
    height: auto;
    padding: 5px;
}

.category-title-0004>div {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, rgb(238, 38, 78), rgba(255, 255, 255, 0.864));
    color: white;
    border-radius: 10px;
    padding: 20px;
}

.category-title-0004>div>h1 {
    font-size: 15px;
}

.category-0004 {
    width: 100%;
    height: 100%;
    border-style: none;
    outline: none;
    cursor: pointer;
    color: black;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    background: whitesmoke;
}



.category-0004>span {
    padding-left: 5px;
}

.options-holder-0004 {
    width: 100%;
    height: auto;
}

.options-holder-0004>div {
    float: left;
    width: 100%;
    height: 60px;
}

.option-buttons-0004 {
    padding: 5px;
}


@media only screen and (min-width: 768px) {
    .list-fav-product-003>div {
        width: 25%;
    }

    .search-product-0004 {
        width: 50%;
    }


    .options-holder-0004>div {
        float: left;
        width: 20%;
    }

    .product-card-holder-0004>div>div {
        padding: 20px;
    }
}