{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Wingastock | Soko mtandao Tanzania</title>

    <meta name="description" content="Nunua na uza bidhaa za electoniki kama simu, laptops, TV, 
    pia tunauza samani za ndani (furniture), vyumba, nyumba na bidhaa mbalimbali kupitia jukwaa letu wingastock ">

    <meta name="robots" content="index, follow">

    <link rel="canonical" href="https://wingastock.onrender.com/">

    <meta property="og:title" content="Wingastock">

    <meta property="og:description" content="Soko mtandao Tanzania">

    <meta property="og:type" content="website">

    <meta property="og:image" content="/static/logo.png">

    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'css/reuse-module.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <meta name="google-site-verification" content="cBo6MO_R0NHmkbNtZ4TbAd5KcLYgqPdt0XB-BgMYi1o" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-STT2EJ7H54"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-STT2EJ7H54');
    </script>

</head>

<body>

    <!-- Header part -->
    <div class="row-holder">

        <!-- Heading part -->
        <div class="header-holder-001">
            <div class="header-001">
                <div class="title-holder-002">
                    <button type="button" onclick="window.location.href=`{% url 'home' %}`">Wingastock</button>
                </div>

                <div class="category-holder-002">
                    <button type="button">
                        <marquee scrollamount="2">
                            <b>Bidhaa zilizopo</b>: &nbsp;&nbsp;
                            <i class="fas fa-couch"></i> Samani za nyumbani &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fas fa-mobile-alt"></i> Electroniki &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fas fa-utensils"></i> Vyakula &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fas fa-tshirt"></i> Mavazi &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fas fa-box-open"></i> Bidhaa zaidi &nbsp;&nbsp;&nbsp;&nbsp;
                        </marquee>
                    </button>
                </div>

                <div class="search-holder-002">
                    <button type="button" class="input-b-003">
                        <input type="text" placeholder="Search ..." id="searchInput"
                            onclick="document.getElementById('search').style.display = 'inline-block'">
                    </button>
                    <button type="button" class="sb-003"><i class="fas fa-sort"></i></button>
                    <button type="button" class="sb-003"><i class="fas fa-filter"></i></button>
                </div>
            </div>
        </div>
        <!-- End heading -->


        <!-- Search contents -->
        <div class="search-content-003" id="search">
            <div class="search-content-004">

                <h1 style="padding: 15px; text-align: center;">Matokeo ya utafutaji</h1>

                <div id="buttonContainer">
                    {% for product in left1_products %}
                    <div class="product-left-003"
                        onclick="window.location.href=`{% url 'product_details' product.id %}`">
                        <div>
                            <button type="button" class="details-pic-006">
                                <p>
                                    <b>{{ product.title }}</b> <br>
                                    <span class="title-p-005">{{ product.price }} Tsh</span><br>
                                </p>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>


        <!-- Center content -->
        <div class="center-content-holder-001">

            <!-- Category left -->
            <div class="category-holder-left-002" style="margin-bottom: 50px;">

                <div class="card-ads-holder-003">
                    <div class="card-holder-003">
                        <p class="a-t-004">Wingastock</p>
                        <i class="fas fa-shopping-cart"></i>
                        <i class="fas fa-store"></i>
                        <i class="fas fa-handshake"></i>
                        <p class="d-t-004">Nunua au uza bidhaa kwa urahisi</p>

                        <div class="sell-button-holder">
                            <button type="button" class="sell-button-004"
                                onclick="window.location.href=`https://wa.me/255711319475?text=Habari, nataka kuuza bidhaa yangu.`">
                                <i class="fas fa-tag"></i>
                                <span>Uza bidhaa</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="category-holder-003">
                    <div>
                        <p style="font-weight: bold; color: crimson;">Makundi ya bidhaa <span
                                style="float: right;">Tazama
                                zaidi</span></p>
                        <div class="category-left-scroll-004">
                            <div class="category-scroll-004">

                                <button type="button"
                                    onclick="window.location.href=`{% url 'filter_products' 'furniture' %}`">
                                    <i class="fas fa-couch"></i><br>
                                    Samani za nyumbani
                                </button>

                                <button type="button"
                                    onclick="window.location.href=`{% url 'filter_products' 'electronics' %}`">
                                    <i class="fas fa-mobile-alt"></i><br>
                                    Electroniki
                                </button>

                                <button type="button"
                                    onclick="window.location.href=`{% url 'filter_products' 'food' %}`">
                                    <i class="fas fa-utensils"></i><br>
                                    Vyakula
                                </button>

                                <button type="button"
                                    onclick="window.location.href=`{% url 'filter_products' 'clothes' %}`">
                                    <i class="fas fa-tshirt"></i><br>
                                    Mavazi
                                </button>

                                <button type="button" onclick="window.location.href=`{% url 'products' %}`">
                                    <i class="fas fa-box-open"></i><br>
                                    Bidhaa zaidi
                                </button>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End category left -->

            <!-- Scroll 1 -->
            <h1 style="margin-top: 50px; padding-left: 10px;">Bidhaa pendwa</h1>
            <div class="scroll-products-holder" style="margin-bottom: 50px;">
                <div class="scroll-left-holder">

                    {% for product in scroll1_products %}

                    <div>
                        <div class="product-card" style="background: rgba(220, 20, 60, 0.12);"
                            onclick="window.location.href=`{% url 'product_details' product.id %}`">
                            <div class="product-image-20 fav-20">
                                <button type="button" class="button202 button202-2">
                                    <b class="p-title-20">{{ product.title }}</b><br>
                                    <span class="price40">{{ product.price }} Tsh</span>
                                    <br><br><br>
                                    <span class="locate-20"><i class="fa fa-location-dot"></i>
                                        {{ product.location }}</span>
                                </button>
                                <button type="button" class="button203">
                                    {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="{{ product.title }}">
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>

            <!-- product left -->
            <h1 style="margin-top: 50px; padding-left: 10px;">Bidhaa mbalimbali</h1>
            <div class="product-left-holder-002">

                {% for product in left1_products %}
                <div class="product-left-003" onclick="window.location.href=`{% url 'product_details' product.id %}`">
                    <div>
                        <button type="button" class="product-pic-006">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.title }}">
                            {% endif %}
                        </button>
                        <button type="button" class="details-pic-006">
                            <p>
                                <b>{{ product.title }}</b> <br>
                                <span class="title-p-005">{{ product.price }} Tsh</span><br><br>
                                <span class="locate-005">
                                    <i class="fas fa-map-marker-alt"></i>
                                    {{ product.location }}
                                </span><br><br>
                            </p>
                        </button>
                    </div>
                </div>
                {% endfor %}

                <div class="scroll-products-holder">
                    <div class="scroll-left-holder">

                        {% for product in scroll2_products %}

                        <div>
                            <div class="product-card" style="background: rgba(220, 20, 60, 0.12);"
                                onclick="window.location.href=`{% url 'product_details' product.id %}`">
                                <div class="product-image-20 fav-20">
                                    <button type="button" class="button202 button202-2">
                                        <b class="p-title-20">{{ product.title }}</b><br>
                                        <span class="price40">{{ product.price }} Tsh</span>
                                        <br><br><br>
                                        <span class="locate-20"><i class="fa fa-location-dot"></i>
                                            {{ product.location }}</span>
                                    </button>
                                    <button type="button" class="button203">
                                        {% if product.image %}
                                        <img src="{{ product.image.url }}" alt="{{ product.title }}">
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                </div>

            </div>
            <!-- end product left -->

            <!-- product left -->
            <div class="product-left-holder-002">

                {% for product in right_products %}
                <div class="product-left-004" onclick="window.location.href=`{% url 'product_details' product.id %}`">
                    <div>
                        <button type="button" class="product-pic-005">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.title }}">
                            {% endif %}
                        </button>
                        <button type="button" class="details-pic-005">
                            <p>
                                <b>{{ product.title }}</b> <br>
                                <span class="title-p-005">{{ product.price }} Tsh</span><br><br>
                                <span class="locate-005">
                                    <i class="fas fa-map-marker-alt"></i>
                                    {{ product.location }}
                                </span><br><br>
                            </p>
                        </button>
                    </div>
                </div>
                {% endfor %}

                <div class="scroll-products-holder">
                    <div class="scroll-left-holder">

                        {% for product in scroll3_products %}

                        <div>
                            <div class="product-card" style="background: rgba(220, 20, 60, 0.12);"
                                onclick="window.location.href=`{% url 'product_details' product.id %}`">
                                <div class="product-image-20 fav-20">
                                    <button type="button" class="button202 button202-2">
                                        <b class="p-title-20">{{ product.title }}</b><br>
                                        <span class="price40">{{ product.price }} Tsh</span>
                                        <br><br><br>
                                        <span class="locate-20"><i class="fa fa-location-dot"></i>
                                            {{ product.location }}</span>
                                    </button>
                                    <button type="button" class="button203">
                                        {% if product.image %}
                                        <img src="{{ product.image.url }}" alt="{{ product.title }}">
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        </div>

                        {% endfor %}

                    </div>
                </div>

            </div>
            <!-- end product left -->

            <!-- product left -->
            <div class="product-left-holder-002">

                {% for product in left2_products %}
                <div class="product-left-003" onclick="window.location.href=`{% url 'product_details' product.id %}`">
                    <div>
                        <button type="button" class="product-pic-006">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.title }}">
                            {% endif %}
                        </button>
                        <button type="button" class="details-pic-006">
                            <p>
                                <b>{{ product.title }}</b> <br>
                                <span class="title-p-005">{{ product.price }} Tsh</span><br><br>
                                <span class="locate-005">
                                    <i class="fas fa-map-marker-alt"></i>
                                    {{ product.location }}
                                </span><br><br>
                            </p>
                        </button>
                    </div>
                </div>
                {% endfor %}

            </div>
            <!-- end product left -->


            <!-- product left -->
            <div class="product-left-holder-002">

                {% for product in left3_products %}
                <div class="product-left-003" onclick="window.location.href=`{% url 'product_details' product.id %}`">
                    <div>
                        <button type="button" class="product-pic-006">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.title }}">
                            {% endif %}
                        </button>
                        <button type="button" class="details-pic-006">
                            <p>
                                <b>{{ product.title }}</b> <br>
                                <span class="title-p-005">{{ product.price }} Tsh</span><br><br>
                                <span class="locate-005">
                                    <i class="fas fa-map-marker-alt"></i>
                                    {{ product.location }}
                                </span><br><br>
                            </p>
                        </button>
                    </div>
                </div>
                {% endfor %}

            </div>
            <!-- end product left -->


            <!-- product left -->
            <div class="product-right-holder-002">

                {% for product in product_l %}
                <div class="product-left-004" onclick="window.location.href=`{% url 'product_details' product.id %}`">
                    <div>
                        <button type="button" class="product-pic-005">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.title }}">
                            {% endif %}
                        </button>
                        <button type="button" class="details-pic-005">
                            <p>
                                <b>{{ product.title }}</b> <br>
                                <span class="title-p-005">{{ product.price }} Tsh</span><br><br>
                                <span class="locate-005">
                                    <i class="fas fa-map-marker-alt"></i>
                                    {{ product.location }}
                                </span><br><br>
                            </p>
                        </button>
                    </div>
                </div>
                {% endfor %}

            </div>
            <!-- end product left -->


        </div>
        <!-- End content -->

        <!-- Footer content -->
        <div class="footer-content-holder">
            <div class="footer-content">
                <h1 style="font-size: 15px; text-align: center; margin-bottom: 50px;">Karibu kwenye tovuti yetu
                    'Wingastock'</h1>

                <div class="foot-content">

                    <div class="foot-declaration" style="border-right: 1px solid rgba(255, 255, 255, 0.522);">
                        <p><b>Wingastock</b>, ni jukwaa linalounganisha wateja na wauzaji wa bidhaa,<br>
                            Inasaidia wateja kupata mawasiliano ya wauza bidhaa kwa urahisi ili wafanye biashara kuuza
                            au kununua bidhaa.
                        </p>
                    </div>

                    <div class="foot-category" style="border-right: 1px solid rgba(255, 255, 255, 0.522);">
                        <p style="text-align: center;"><b>Bidhaa zilizopo kutokana na makundi</b></p>
                        <ul>
                            <li><a href="#category">Electroniki</a></li>
                            <li><a href="#category">Samani za ndani</a></li>
                            <li><a href="#category">Mavazi</a></li>
                            <li><a href="#category">Vyakula</a></li>
                            <li><a href="#category">Makazi</a></li>
                            <li><a href="#category">N.K ...</a></li>
                        </ul>
                    </div>

                    <div class="foot-contact">
                        <p style="text-align: center;"><b>Mawasiliano</b></p>
                        <p><b>Simu:</b> 255711319475</p>
                        <p><b>Barua pepe:</b> serviceshomelibrary@gmail.com</p>
                        <p><b>Anuani: </b>Mabibo, Dar es salaam</p>
                    </div>
                </div>
            </div>

        </div>

        <script>
            const searchInput = document.getElementById("searchInput");
            const buttons = document.querySelectorAll("#buttonContainer div");

            searchInput.addEventListener("input", function () {
                const searchText = this.value.toLowerCase().trim();

                buttons.forEach(button => {
                    const buttonText = button.textContent.toLowerCase();

                    if (buttonText.includes(searchText)) {
                        button.style.display = "";
                    } else {
                        button.style.display = "none";
                    }
                });
            });
        </script>
</body>

</html>