<div class="nav-holder-002">

    <div class="nav-content-003">
        <div>
            <button type="button" onclick="window.location.href=`{% url 'home' %}`">
                <i class="fas fa-home"></i>
            </button>
        </div>

        <div>
            <button type="button" onclick="window.location.href=`{% url 'favorities' %}`">
                <i class="fas fa-heart"></i>
            </button>
        </div>

        <div>
            <button type="button" onclick="window.location.href=`{% url 'categories' %}`">
                <i class="fas fa-th-large"></i>
            </button>
        </div>

        <div>
            <button type="button" onclick="window.location.href=`{% url 'search' %}`">
                <i class="fas fa-search"></i>
            </button>
        </div>

        <div>
            <button type="button" onclick="window.location.href=`{% url 'about' %}`">
                <i class="fas fa-info-circle"></i>
            </button>
        </div>
    </div>
</div>
