{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Wingastock | Bidhaa uliochagua, bidhaa zaidi</title>

  <meta name="description" content="Nunua na uza bidhaa za electoniki kama simu, laptops, TV, 
    pia tunauza Thamani za ndani (furniture), vyumba, nyumba na bidhaa mbalimbali kupitia jukwaa letu wingastock ">

  <meta name="robots" content="index, follow">

  <link rel="canonical" href="https://wingastock.onrender.com/">

  <meta property="og:title" content="Wingastock">

  <meta property="og:description" content="Soko mtandao Tanzania">


  <meta property="og:type" content="website">

  <meta property="og:image" content="/static/logo.png">

  <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">

  <link rel="stylesheet" href="{% static 'css/style1.css' %}">
  <link rel="stylesheet" href="{% static 'css/style2.css' %}">
  <link rel="stylesheet" href="{% static 'css/reuse-module.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

  <!-- Layout -->
  <div class="row-holder-001">
    <div class="header-holder-001">
      <div class="title-002" onclick="window.location.href=`{% url 'home' %}`">Wingastock</div>
      <div class="action-002">

        <div class="sub-actions-003">
          <button type="button"
            onclick="window.location.href=`https://wa.me/255711319475?text=Habari, nataka kuuza bidhaa yangu.`">Uza
            bidhaa</button>

        </div>


      </div>
    </div>


    <div class="content-holder-001">
      <div class="center-content-holder-002">
        <!-- First part -->

        <div class="content-decor-002">

          <div class="left-content-holder-003">
            <div class="left-content-003">
              <!-- Left gap -->
            </div>
          </div>

          <div class="right-content-holder-003">
            <div class="products-holder-004">

              <!-- Selected product -->
              <div class="selected-product-holder-005">
                <div class="selected-product-005">
                  <div class="product-details-004">
                    <h1 style="font-size: 18px;">{{ product.title }}</h1>
                    <p><b>Maelezo: </b> {{ product.description }}</p>
                    <p><b>Bei: </b>{{ product.price }} Tsh</p>
                    <br>
                    <p><b>Anuani: </b>{{ product.location }}</p>
                  </div>
                </div>

                <div class="product-actions-004">
                  <div class="request-contacts">
                    <button type="button" 
                      onclick="window.location.href=`tel:+255711319475`"><i class="fa-solid fa-phone"></i> Ongea na muuzaji</button>
                    <button type="button" style="background: green;"
                      onclick="window.location.href=`https://wa.me/255711319475?text=Habari, naulizia {{ product.title }}`">
                      <i class="fa-brands fa-whatsapp"></i> Tuma meseji whatsapp</button>

                    <br>
                    <h1 style="display: none; float: left;" id="contact">Seller contact: <u>255711319475</u></h1>
                    <br><br>
                  </div>

                </div>

              </div>

              <hr style="color: rgba(220, 20, 60, 0.193); margin-top: 100px;">

              <!-- Search module -->
              <div class="search-filter-filter" style="margin-top: 100px;">
                <input type="text" id="searchInput" placeholder="Tafuta bidhaa ..." onkeyup="filterProducts()">

                <button type="button" onclick="window.location.href=`{% url 'filter_products' 'filter' %}`"><i
                    class="fa fa-filter"></i></button>
                <button type="button" onclick="window.location.href=`{% url 'filter_products' 'sort' %}`"><i
                    class="fa fa-sort"></i></button>
              </div>

              <h1 style="margin-top: 50px; font-size: 15px;">Bidhaa nyingine</h1>


              <div class="products-holder-005">
                <div class="products-grid" id="productGrid">

                  {% for product in products %}

                  <div>
                    <div class="product-card" onclick="window.location.href=`{% url 'product_details' product.id %}`">
                      <div class="product-image-20">
                        <button type="button" class="button202">
                          <b class="p-title-20">{{ product.title }}</b><br>
                          <span class="price40">{{ product.price }} Tsh</span>
                          <br><br>
                          <span><i class="fa fa-location-dot"></i>
                            {{ product.location }}</span>
                        </button>
                      </div>
                    </div>
                  </div>

                  {% endfor %}

                </div>

              </div>

              <!-- Filter products -->
              <div class="view-more-holder">
                <button type="button" onclick="window.location.href=`{% url 'filter_products' product.category %}`">Tazama bidhaa zaidi</button>
              </div>
            </div>

          </div>

        </div>
      </div>


      <!-- Second part -->
      <div class="content-decor-002">

        <div class="left-content-holder-003">
          <div class="left-content-003">
            <!-- Left gap -->
          </div>
        </div>

        <div class="right-content-holder-003">
          <div class="products-holder-004" style="border-top-left-radius: 20px;">

            <h1 style="margin-top: 100px; font-size: 15px;">Bidhaa zaidi</h1>

            <div class="products-holder-005">
              <div class="products-grid" id="productGrid">

                {% for product in products %}

                <div>
                  <div class="product-card" style="background: whitesmoke;"
                    onclick="window.location.href=`{% url 'product_details' product.id %}`">
                    <div class="product-image-20">
                      <button type="button" class="button202">
                        <b class="p-title-20">{{ product.title }}</b><br>
                        <span class="price40">{{ product.price }} Tsh</span>
                        <br><br>
                        <span><i class="fa fa-location-dot"></i>
                          {{ product.location }}</span>
                      </button>
                    </div>
                  </div>
                </div>

                {% endfor %}

              </div>

            </div>


          </div>

        </div>

      </div>
    </div>



  </div>


  <!-- Footer content -->
    <div class="footer-content-holder">
        <div class="footer-content">
            <h1 style="font-size: 15px; text-align: center; margin-bottom: 50px;">Karibu kwenye tovuti yetu 'Wingastock'</h1>

            <div class="foot-content">

                <div class="foot-declaration" style="border-right: 1px solid rgba(255, 255, 255, 0.522);">
                    <p><b>Wingastock</b>, ni jukwaa linalounganisha wateja na wauzaji wa bidhaa,<br>
                        Inasaidia wateja kupata mawasiliano ya wauza bidhaa kwa urahisi ili wafanye biashara kuuza au kununua bidhaa.
                    </p>
                </div>

                <div class="foot-category" style="border-right: 1px solid rgba(255, 255, 255, 0.522);">
                    <p style="text-align: center;"><b>Bidhaa zilizopo kutokana na makundi</b></p>
                    <ul>
                        <li><a href="#category">Electroniki</a></li>
                        <li><a href="#category">Thamani za ndani</a></li>
                        <li><a href="#category">Mavazi</a></li>
                        <li><a href="#category">Vyakula</a></li>
                        <li><a href="#category">Makazi</a></li>
                        <li><a href="#category">N.K ...</a></li>
                    </ul>
                </div>

                <div class="foot-contact">
                    <p style="text-align: center;"><b>Mawasiliano</b></p>
                    <p><b>Simu:</b> 255711319475</p>
                    <p><b>Barua pepe:</b> serviceshomelibrary@gmail.com</p>
                    <p><b>Anuani: </b>Mabibo, Dar es salaam</p>
                </div>
            </div>
        </div>
    </div>

  <!-- javascripts code -->
  <script>
    function menu_bar(value) {
      bar = document.getElementById("menu_bar");

      if (value == 1) {
        bar.style.display = 'inline-block';
      }
      else {
        bar.style.display = 'none';
      }
    }
  </script>

  <script>
    function filterProducts() {
      const input = document.getElementById('searchInput');
      const filter = input.value.toLowerCase();
      const productGrid = document.getElementById('productGrid');
      const products = productGrid.getElementsByClassName('product-card');

      for (let i = 0; i < products.length; i++) {
        const productTitle = products[i].querySelector('.button202 b').textContent.toLowerCase();
        if (productTitle.includes(filter)) {
          products[i].parentElement.style.display = '';
        } else {
          products[i].parentElement.style.display = 'none';
        }
      }
    }
  </script>


  <script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) { slideIndex = 1 }
      slides[slideIndex - 1].style.display = "block";
      setTimeout(showSlides, 10000); // Change image every 2 seconds
    } 
  </script>
</body>

</html>