{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wingastock | Add product</title>
    <link rel="stylesheet" href="{% static 'admin_css/admin_style.css' %}">

    <style>
        .messages {
            margin: 20px 0;
        }

        .alert {
            padding: 12px 18px;
            margin-bottom: 10px;
            border-radius: 5px;
            color: #fff;
            font-weight: 500;
        }

        .success {
            background: #28a745;
        }

        .error {
            background: #dc3545;
        }

        .warning {
            background: #ffc107;
            color: #000;
        }

        .info {
            background: #17a2b8;
        }
    </style>
</head>

<body>

    <div class="row-holder">

        <!-- Header -->
        <div class="header-holder-100">
            <div class="header-100">
                <div class="action-holder-101">
                    <button type="button" id="menu1" onclick="open_menu('open')">m</button>
                    <button type="button" id="menu2" style="display: none;" onclick="open_menu('close')">c</button>
                </div>
                <div class="title-holder-101">
                    <button type="button">Wingastock | Admin</button>
                </div>
                <div class="title-holder-101" style="float: right;">
                    <button type="button">{{ user.username }}</button>
                </div>
            </div>
        </div>


        <!-- center content -->
        <div class="center-content-200">

            <div class="left-holder-201" id="nav">
                <div class="nav-bar-holder-202">
                    <p style="text-align: center; font-weight: bold;">Options</p>

                    <ul>
                        <a href="{% url 'admin_home' %}">
                            <li>Dashboard</li>
                        </a>
                    </ul>

                    <ul>
                        <a href="{% url 'admin_products' %}">
                            <li class="active-0">Products</li>
                        </a>
                    </ul>

                    <ul>
                        <a href="{% url 'admin_sellers' %}">
                            <li>Sellers</li>
                        </a>
                    </ul>

                    <ul>
                        <a href="{% url 'logout_admin' %}">
                            <li>Exit</li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="right-holder-201">
                <div class="products-202">

                    <p style="font-weight: bold;">Add product</p>

                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div class="alert {{ message.tags }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="input-holder-203">
                            <p>Product title</p>
                            <div>
                                <input type="text" name="title" placeholder="e.g iPhone 12" required>
                            </div>
                        </div>

                        <div class="input-holder-203" style="height: 250px;">
                            <p>Descriptions</p>
                            <div style="height: 200px;">
                                <textarea name="description" required
                                    placeholder="e.g Quality product from ..."></textarea>
                            </div>
                        </div>

                        <div class="input-holder-203">
                            <p>Category</p>
                            <div>
                                <select name="category" required>
                                    <option value="">Choose category</option>
                                    <option value="electronics">Electronics</option>
                                    <option value="food">Food</option>
                                    <option value="clothes">Clothes</option>
                                    <option value="furniture">Furniture</option>
                                </select>
                            </div>
                        </div>

                        <div class="input-holder-203">
                            <p>Image</p>
                            <div>
                                <input type="file" style="padding: 7px;" name="image" accept="image/*">
                            </div>
                        </div>


                        <div class="input-holder-203">
                            <p>Price</p>
                            <div>
                                <input type="number" name="price" min="1" step="0.01" placeholder="e.g 1000.00"
                                    required>
                            </div>
                        </div>

                        <div class="input-holder-203">
                            <p>Phone</p>
                            <div>
                                <input type="number" name="phone" maxlength="20" placeholder="e.g 745" required>
                            </div>
                        </div>

                        <div class="input-holder-203">
                            <p>Location</p>
                            <div>
                                <select name="location" id="location" required>
                                    <option value="">Select location</option>
                                    <option value="Arusha">Arusha</option>
                                    <option value="Dar es Salaam">Dar es Salaam</option>
                                    <option value="Dodoma">Dodoma</option>
                                    <option value="Geita">Geita</option>
                                    <option value="Iringa">Iringa</option>
                                    <option value="Kagera">Kagera</option>
                                    <option value="Katavi">Katavi</option>
                                    <option value="Kigoma">Kigoma</option>
                                    <option value="Kilimanjaro">Kilimanjaro</option>
                                    <option value="Lindi">Lindi</option>
                                    <option value="Manyara">Manyara</option>
                                    <option value="Mara">Mara</option>
                                    <option value="Mbeya">Mbeya</option>
                                    <option value="Morogoro">Morogoro</option>
                                    <option value="Mtwara">Mtwara</option>
                                    <option value="Mwanza">Mwanza</option>
                                    <option value="Njombe">Njombe</option>
                                    <option value="Pemba North">Pemba North</option>
                                    <option value="Pemba South">Pemba South</option>
                                    <option value="Pwani">Pwani</option>
                                    <option value="Rukwa">Rukwa</option>
                                    <option value="Ruvuma">Ruvuma</option>
                                    <option value="Shinyanga">Shinyanga</option>
                                    <option value="Simiyu">Simiyu</option>
                                    <option value="Singida">Singida</option>
                                    <option value="Songwe">Songwe</option>
                                    <option value="Tabora">Tabora</option>
                                    <option value="Tanga">Tanga</option>
                                    <option value="Zanzibar North">Zanzibar North</option>
                                    <option value="Zanzibar South and Central">Zanzibar South and Central</option>
                                    <option value="Zanzibar West">Zanzibar West</option>
                                </select>
                            </div>
                        </div>

                        <div class="input-holder-203 submit-203">
                            <div>
                                <input type="submit" value="Save product">
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>

    </div>



    <script>
        function open_menu(click) {
            let menu1 = document.getElementById('menu1');
            let menu2 = document.getElementById('menu2');
            let nav = document.getElementById('nav');

            if (click == 'open') {
                menu1.style.display = 'none';
                menu2.style.display = 'inline-block';
                nav.style.display = 'inline-block';
            }
            else {
                menu1.style.display = 'inline-block';
                menu2.style.display = 'none';
                nav.style.display = 'none';
            }
        }
    </script>
    <script>
        setTimeout(function () {
            document.querySelectorAll(".alert").forEach(function (alert) {
                alert.style.transition = "opacity 0.5s";
                alert.style.opacity = "0";
                setTimeout(() => alert.remove(), 500);
            });
        }, 4000);
    </script>
</body>

</html>