
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Winga Platform | Statistics</title>

  <link rel="stylesheet" href="{% static 'admin_css/user.css' %}">
  <link rel="stylesheet" href="{% static 'admin_css/dash.css' %}">


  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

  <!-- SIDEBAR -->
  <aside class="sidebar" id="sidebar">
    <h2>Winga Platform</h2>

    <a href="{% url 'admin_home' %}">Dashboard</a>
    <a href="{% url 'admin_users' %}">Users</a>
    <a href="{% url 'admin_products' %}">Products</a>
    <a href="{% url 'admin_messages' %}">Messages</a>
    <a href="{% url 'admin_statistics' %}" class="active-link">Statistics</a>
    <a href="{% url 'admin_settings' %}">Settings</a>
    <a href="{% url 'logout_admin' %}">Logout</a>
  </aside>

  <!-- MAIN -->
  <main class="main">

    <!-- NAVBAR -->
    <div class="navbar">
      <button class="menu-btn" onclick="toggleSidebar()">☰</button>

      <h2>Platform Statistics</h2>

      <div class="nav-right">
        <div class="admin-badge">Admin</div>
      </div>
    </div>

    <!-- STATS CARDS -->
    <div class="cards" style="margin-bottom:20px;">
      <div class="card">
        <h3>Total Revenue</h3>
        <p>$12,450</p>
      </div>

      <div class="card">
        <h3>Total Users</h3>
        <p>1,540</p>
      </div>

      <div class="card">
        <h3>Products Sold</h3>
        <p>2,180</p>
      </div>

      <div class="card">
        <h3>Pending Orders</h3>
        <p>28</p>
      </div>
    </div>

    <!-- CHARTS -->
    <div class="charts">

      <div class="chart-box">
        <h3>Revenue Growth</h3>
        <canvas id="revenueChart"></canvas>
      </div>

      <div class="chart-box">
        <h3>User Growth</h3>
        <canvas id="userChart"></canvas>
      </div>

      <div class="chart-box">
        <h3>Product Status</h3>
        <canvas id="productChart"></canvas>
      </div>

    </div>

  </main>

  <script src="{% static 'admin_js/statistics.js' %}"></script>
</body>

</html>