{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wingastock | {{ product.title }}</title>
    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'seller_css/sellers_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>

    <div class="row-holder">

        <!-- Header -->
        <div class="header-holder-100">
            <div class="header-100">
                <div class="action-holder-101">
                    <button type="button" id="menu1" onclick="open_menu('open')"><i class="fas fa-bars"></i></button>
                    <button type="button" id="menu2" style="display: none;" onclick="open_menu('close')"><i class="fas fa-times"></i></button>
                </div>
                <div class="title-holder-101">
                    <button type="button">Wingastock | Seller</button>
                </div>
                <div class="title-holder-101" style="float: right;">
                    <button type="button"><i class="fas fa-user"></i> {{ user.email }}</button>
                </div>
            </div>
        </div>


        <!-- center content -->
        <div class="center-content-200">

            <div class="left-holder-201" id="nav">
                <div class="nav-bar-holder-202">
                    <p style="text-align: center; font-weight: bold;">Options</p>

                    <ul>
                        <a href="{% url 'seller_home' %}">
                            <li>Dashboard <i class="fas fa-tachometer-alt"></i></li>
                        </a>
                    </ul>

                    <ul>
                        <a href="{% url 'seller_products' %}">
                            <li class="active-0">Products <i class="fas fa-box"></i></li>
                        </a>
                    </ul>

                    <ul>
                        <a href="{% url 'logout_seller' %}">
                            <li>Exit <i class="fas fa-sign-out-alt"></i></li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="right-holder-201">
                <div class="products-202">


                    <div class="preview-102">
                        <div class="image-preview-203">
                            {% if product.image %}
                            <!--<img src="{{ product.image.url }}" alt="{{ product.title }}"> -->
                            <img src="{% static 'phone1.jpeg' %}" alt="{{ product.title }}">
                            {% endif %}
                        </div>

                        <div class="details-203">
                            <p style="font-weight: bold;">{{ product.title }}</p>

                            <table style="width: auto;">
                                <tr>
                                    <td style="font-weight: bold;">Description: </td>
                                    <td>{{ product.description }}</td>
                                </tr>

                                <tr>
                                    <td style="font-weight: bold;">Category: </td>
                                    <td>{{ product.category }}</td>
                                </tr>

                                <tr>
                                    <td style="font-weight: bold;">Price: </td>
                                    <td>{{ product.price }}</td>
                                </tr>

                                <tr>
                                    <td style="font-weight: bold;">Location: </td>
                                    <td>{{ product.location }}</td>
                                </tr>

                                <tr>
                                    <td style="font-weight: bold;">Status: </td>
                                    <td>{{ product.status }}</td>
                                </tr>

                            </table>

                        </div>



                        <div class="customer-views-1003">

                            <button type="button" id="shareBtn" class="share-206"><i class="fas fa-share-alt"></i> Promote product to reach more customers</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>



    <script>
        function open_menu(click) {
            let menu1 = document.getElementById('menu1');
            let menu2 = document.getElementById('menu2');
            let nav = document.getElementById('nav');

            if (click == 'open') {
                menu1.style.display = 'none';
                menu2.style.display = 'inline-block';
                nav.style.display = 'inline-block';
            }
            else {
                menu1.style.display = 'inline-block';
                menu2.style.display = 'none';
                nav.style.display = 'none';
            }
        }
    </script>

    <script>
        const shareBtn = document.getElementById("shareBtn");

        shareBtn.addEventListener("click", async () => {

            try {

                const response = await fetch("{{ product.image.url }}");
                const blob = await response.blob();

                const file = new File(
                    [blob],
                    "product.jpg",
                    { type: blob.type }
                );

                if (navigator.canShare &&
                    navigator.canShare({ files: [file] })) {

                    await navigator.share({
                        title: "{{ product.title|escapejs }}",
                        text: "{{ product.title|escapejs }}\n\n{{ product.description|truncatechars:250|escapejs }} \n\n Bei: {{ product.price }}Tsh \n\n Anuani: {{ product.location }}",
                        url: window.location.href,
                        files: [file]
                    });

                } else {

                    await navigator.share({
                        title: "{{ product.title|escapejs }}",
                        text: "{{ product.title|escapejs }}\n\n{{ product.description|truncatechars:250|escapejs }} \n\n Bei: {{ product.price }}Tsh \n\n Anuani: {{ product.location }}",
                        url: window.location.href
                    });

                }

            } catch (error) {
                console.error(error);
            }

        });
    </script>
</body>

</html>