{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Winga Platform | Signup</title>

  <link rel="stylesheet" href="{% static 'admin_css/login.css' %}">
</head>

<body>

  <div class="login-container">

    <!-- LEFT SIDE -->
    <div class="login-left">
      <h1>Wingastock</h1>
      <p>Online Marketplace System</p>
    </div>

    <!-- RIGHT SIDE -->
    <div class="login-right">

      <form method="POST">
        {% csrf_token %}

        <h2>Seller Signup</h2>

        <label>Email</label>
        <input type="email" name="email" placeholder="Enter email" required>

        <label>Whatsapp Number</label>
        <input type="tel" name="whatsapp_number" placeholder="Enter whatsapp number starting with 255" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password" required>

        <button type="submit">Signup</button>

        <br><br>
        {% if error %}
        <p style="color: white;">{{ error }}</p>
        {% endif %}
        <br><br>
        <p style="color: white;">Already have an account? <a href="{% url 'login_seller' %}">Login</a></p>
      </form>

    </div>

  </div>

  <script src="{% static 'admin_js/login.js' %}"></script>
</body>

</html>