{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/heading.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>Wingastock - Buy &amp; Sell Products in Tanzania</title>

    <meta name="description"
        content="Buy and sell electronics, phones, laptops, furniture, homes, and more on Wingastock, Tanzania's online marketplace.">

    <meta property="og:title" content="Wingastock - Buy &amp; Sell Products in Tanzania">

    <meta property="og:description"
        content="Buy and sell electronics, phones, laptops, furniture, homes, and more on Wingastock, Tanzania's online marketplace.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wingastock.onrender.com/">
    <meta property="og:site_name" content="Wingastock">


    <meta name="robots" content="index, follow">

    <link rel="canonical" href="https://wingastock.onrender.com/">


    <meta property="og:image" content="/static/logo.png">

    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">

    <meta name="google-site-verification" content="cBo6MO_R0NHmkbNtZ4TbAd5KcLYgqPdt0XB-BgMYi1o" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-STT2EJ7H54"></script>
    <!-- Microsoft tag -->
    <meta name="msvalidate.01" content="24C554194C77E0084DA5450B14850A0F" />


    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-STT2EJ7H54');
    </script>

</head>

<body>

    <div class="page-loader-holder-000">
        <div>
            <button type="button">
                <h1>
                    <img src="{% static 'logo.png' %}" alt="logo"> <br>
                    <span>Wingastock</span>
                </h1>
            </button>
        </div>
    </div>

    <div class="row-holder-001">

        <!-- Inlude heading -->
        {% if user.email %}
        {% include 'header_s.html' %}
        {% else %}
        {% include 'heading.html' %}
        {% endif %}


        <div class="content-holder-002">

            <!-- Center content -->
            <div class="product-card-holder-1001">
                <div class="product-card-1002">

                    {% for product in products %}
                    {% include 'product-container.html' %}
                    {% endfor %}

                </div>
            </div>


            <div style="width: 100%; height: 100px; float: left;"></div>

        </div>

        <!-- 404 -->
        <div class="seller-signup-holder-1002" id="seller_ad">
            <div>

                <div>
                    <p style="font-weight: bold; font-size: 15px;">Platform Alert</p>
                    <p>404 - Page Not Found</p>
                    <p>
                        Oops! We couldn't find that page.
                        The page may have been removed, moved, or the link you followed
                        may no longer be available. Let's get you back to Wingastock.

                    </p>
                </div>

                <button type="button" class="register-1002" onclick="window.location.href=`{% url 'home' %}`">
                    <i class="fas fa-home"></i>
                    Back Home
                </button>
            </div>
        </div>

        <!-- How to -->
        {% include 'how-to.html' %}

        <div class="footer-holder-1003">
            <div>
                <p>Wingastock | Online marketplace</p>
            </div>
        </div>


        <!-- Nav bar -->
        {% include 'navbar.html' %}

    </div>

    <script>
        window.addEventListener("load", function () {

            const loader = document.querySelector(
                ".page-loader-holder-000"
            );

            if (loader) {

                // Fade out the loader
                loader.classList.add("hidden");

                // Remove it completely after the animation
                setTimeout(function () {
                    loader.remove();
                }, 500);
            }

        });
    </script>


    <script>
        function menu_bar(click) {
            let menu_div = document.getElementById('menu_div');
            let button1 = document.getElementById('button1');
            let button2 = document.getElementById('button2');

            if (click == 'open') {
                menu_div.style.display = 'inline-block';
                button1.style.display = 'none';
                button2.style.display = 'inline-block';
            }
            else {
                menu_div.style.display = 'none';
                button2.style.display = 'none';
                button1.style.display = 'inline-block';
            }
        }
    </script>

</body>

</html>