{% load static %}
{% load humanize %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% translate "Wingastock | Server Error" %}
    </title>

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/home.css' %}"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/account.css' %}"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/search-history.css' %}"
    >

</head>

<body>

<div class="search-history-page">


    <!-- =====================================================
         HEADER
    ====================================================== -->

    <header class="search-history-header">

        <button
            type="button"
            class="search-history-back-button"
            onclick="history.back()"
            aria-label="{% translate 'Go back' %}"
        >
            <i class="fas fa-arrow-left"></i>
        </button>


        <div class="search-history-heading">

            <h1>
                {% translate "Server Error" %}
            </h1>

        </div>


        <button
            type="button"
            class="search-history-clear-button"
            aria-label="{% translate 'Back home' %}"
            onclick="window.location.href='{% url 'home' %}'"
        >
            <i class="fas fa-home"></i>
        </button>

    </header>



    <!-- =====================================================
         500 ERROR CONTENT
    ====================================================== -->

    <main class="search-history-content">

        <section
            class="history-empty"
            id="serverError"
            style="display:flex;"
        >

            <div class="history-empty-icon">

                <i class="fas fa-server"></i>

            </div>


            <h2>
                {% translate "500 - Internal Server Error" %}
            </h2>


            <p>
                {% translate "Something went wrong on our server. We are working to fix the problem. Please try again later." %}
            </p>


            <button
                type="button"
                class="history-browse-button"
                onclick="window.location.href='{% url 'home' %}'"
            >

                <i class="fas fa-home"></i>

                {% translate "Back Home" %}

            </button>

        </section>

    </main>



    <!-- =====================================================
         MOBILE BOTTOM NAVIGATION
    ====================================================== -->

    <nav class="mobile-bottom-nav">

        <button
            type="button"
            onclick="window.location.href='{% url 'products' %}'"
        >

            <i class="fas fa-shopping-bag"></i>

            <span>
                {% translate "Products" %}
            </span>

        </button>


        <button
            type="button"
            onclick="window.location.href='{% url 'favorities' %}'"
        >

            <i class="far fa-heart"></i>

            <span>
                {% translate "Favorites" %}
            </span>

        </button>


        <button
            type="button"
            onclick="window.location.href='{% url 'shop_list' %}'"
        >

            <i class="fas fa-store-alt"></i>

            <span>
                {% translate "Shops" %}
            </span>

        </button>


        <button
            type="button"
            onclick="window.location.href='{% url 'customer_account' %}'"
        >

            <i class="far fa-user"></i>

            <span>
                {% translate "Account" %}
            </span>

        </button>

    </nav>

</div>

</body>

</html>