
<div>

    <div class="category-title-0004">
        <div>
            <h1><i class="fas fa-seedling"></i> Vyakula, Viungo, Nafaka & Mazao</h1>
        </div>
    </div>

    <div class="options-holder-0004">

        <!-- Mchele -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'mchele' %}`">
                <i class="fas fa-seedling"></i>
                <span>Mchele</span>
            </button>
        </div>

        <!-- Mahindi -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'mahindi' %}`">
                <i class="fas fa-seedling"></i>
                <span>Mahindi</span>
            </button>
        </div>

        <!-- Unga wa Mahindi -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'unga-wa-mahindi' %}`">
                <i class="fas fa-wheat"></i>
                <span>Unga wa Mahindi</span>
            </button>
        </div>

        <!-- Unga wa Ngano -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'unga-wa-ngano' %}`">
                <i class="fas fa-wheat"></i>
                <span>Unga wa Ngano</span>
            </button>
        </div>

        <!-- Ngano -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'ngano' %}`">
                <i class="fas fa-seedling"></i>
                <span>Ngano</span>
            </button>
        </div>

        <!-- Maharage -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'maharage' %}`">
                <i class="fas fa-seedling"></i>
                <span>Maharage</span>
            </button>
        </div>

        <!-- Dengu -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'dengu' %}`">
                <i class="fas fa-seedling"></i>
                <span>Dengu</span>
            </button>
        </div>

        <!-- Choroko -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'choroko' %}`">
                <i class="fas fa-seedling"></i>
                <span>Choroko</span>
            </button>
        </div>

        <!-- Njegere -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'njegere' %}`">
                <i class="fas fa-seedling"></i>
                <span>Njegere</span>
            </button>
        </div>

        <!-- Karanga -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'karanga' %}`">
                <i class="fas fa-seedling"></i>
                <span>Karanga</span>
            </button>
        </div>

        <!-- Ufuta -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'ufuta' %}`">
                <i class="fas fa-seedling"></i>
                <span>Ufuta</span>
            </button>
        </div>

        <!-- Alizeti -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'alizeti' %}`">
                <i class="fas fa-seedling"></i>
                <span>Alizeti</span>
            </button>
        </div>

        <!-- Mtama -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'mtama' %}`">
                <i class="fas fa-seedling"></i>
                <span>Mtama</span>
            </button>
        </div>

        <!-- Uwele -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'uwele' %}`">
                <i class="fas fa-seedling"></i>
                <span>Uwele</span>
            </button>
        </div>

        <!-- Viazi -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'viazi' %}`">
                <i class="fas fa-carrot"></i>
                <span>Viazi</span>
            </button>
        </div>

        <!-- Viazi Vitamu -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'viazi-vitamu' %}`">
                <i class="fas fa-carrot"></i>
                <span>Viazi Vitamu</span>
            </button>
        </div>

        <!-- Mihogo -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'mihogo' %}`">
                <i class="fas fa-carrot"></i>
                <span>Mihogo</span>
            </button>
        </div>

        <!-- Ndizi -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'ndizi' %}`">
                <i class="fas fa-lemon"></i>
                <span>Ndizi</span>
            </button>
        </div>

        <!-- Viazi Mviringo -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'viazi-mviringo' %}`">
                <i class="fas fa-carrot"></i>
                <span>Viazi Mviringo</span>
            </button>
        </div>

        <!-- Nyanya -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'nyanya' %}`">
                <i class="fas fa-apple-alt"></i>
                <span>Nyanya</span>
            </button>
        </div>

        <!-- Vitunguu -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'vitunguu' %}`">
                <i class="fas fa-circle"></i>
                <span>Vitunguu</span>
            </button>
        </div>

        <!-- Karoti -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'karoti' %}`">
                <i class="fas fa-carrot"></i>
                <span>Karoti</span>
            </button>
        </div>

        <!-- Pilipili -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'pilipili' %}`">
                <i class="fas fa-pepper-hot"></i>
                <span>Pilipili</span>
            </button>
        </div>

        <!-- Tangawizi -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'tangawizi' %}`">
                <i class="fas fa-seedling"></i>
                <span>Tangawizi</span>
            </button>
        </div>

        <!-- Kitunguu Saumu -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'kitunguu-sumu' %}`">
                <i class="fas fa-circle"></i>
                <span>Kitunguu Saumu</span>
            </button>
        </div>

        <!-- Karafuu -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'karafuu' %}`">
                <i class="fas fa-seedling"></i>
                <span>Karafuu</span>
            </button>
        </div>

        <!-- Mdalasini -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'mdalasini' %}`">
                <i class="fas fa-seedling"></i>
                <span>Mdalasini</span>
            </button>
        </div>

        <!-- Iliki -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'iliki' %}`">
                <i class="fas fa-seedling"></i>
                <span>Iliki</span>
            </button>
        </div>

        <!-- Binzari -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'binzari' %}`">
                <i class="fas fa-mortar-pestle"></i>
                <span>Binzari</span>
            </button>
        </div>

        <!-- Bizari -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'bizari' %}`">
                <i class="fas fa-mortar-pestle"></i>
                <span>Bizari</span>
            </button>
        </div>

        <!-- Karafuu ya Zanzibar -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'karafuu-zanzibar' %}`">
                <i class="fas fa-seedling"></i>
                <span>Karafuu ya Zanzibar</span>
            </button>
        </div>

        <!-- Asali -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'asali' %}`">
                <i class="fas fa-jar"></i>
                <span>Asali</span>
            </button>
        </div>

        <!-- Mafuta ya Alizeti -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'mafuta-ya-alizeti' %}`">
                <i class="fas fa-oil-can"></i>
                <span>Mafuta ya Alizeti</span>
            </button>
        </div>

        <!-- Mafuta ya Nazi -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'mafuta-ya-nazi' %}`">
                <i class="fas fa-oil-can"></i>
                <span>Mafuta ya Nazi</span>
            </button>
        </div>

        <!-- Mafuta ya Mawese -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'mafuta-ya-mawese' %}`">
                <i class="fas fa-oil-can"></i>
                <span>Mafuta ya Mawese</span>
            </button>
        </div>

        <!-- Nazi -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'nazi' %}`">
                <i class="fas fa-apple-alt"></i>
                <span>Nazi</span>
            </button>
        </div>

        <!-- Parachichi -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'parachichi' %}`">
                <i class="fas fa-apple-alt"></i>
                <span>Parachichi</span>
            </button>
        </div>

        <!-- Maembe -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'maembe' %}`">
                <i class="fas fa-apple-alt"></i>
                <span>Maembe</span>
            </button>
        </div>

        <!-- Machungwa -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'machungwa' %}`">
                <i class="fas fa-lemon"></i>
                <span>Machungwa</span>
            </button>
        </div>

        <!-- Tikiti -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'tikiti' %}`">
                <i class="fas fa-apple-alt"></i>
                <span>Tikiti</span>
            </button>
        </div>

        <!-- Nanasi -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'nanasi' %}`">
                <i class="fas fa-apple-alt"></i>
                <span>Nanasi</span>
            </button>
        </div>

        <!-- Papai -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'papai' %}`">
                <i class="fas fa-apple-alt"></i>
                <span>Papai</span>
            </button>
        </div>

        <!-- Mboga za Majani -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'mboga-za-majani' %}`">
                <i class="fas fa-leaf"></i>
                <span>Mboga za Majani</span>
            </button>
        </div>

        <!-- Mchicha -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'mchicha' %}`">
                <i class="fas fa-leaf"></i>
                <span>Mchicha</span>
            </button>
        </div>

        <!-- Sukuma Wiki -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'sukuma-wiki' %}`">
                <i class="fas fa-leaf"></i>
                <span>Sukuma Wiki</span>
            </button>
        </div>

        <!-- Kunde -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'kunde' %}`">
                <i class="fas fa-leaf"></i>
                <span>Kunde</span>
            </button>
        </div>

        <!-- Dagaa -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'dagaa' %}`">
                <i class="fas fa-fish"></i>
                <span>Dagaa</span>
            </button>
        </div>

        <!-- Samaki -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'samaki' %}`">
                <i class="fas fa-fish"></i>
                <span>Samaki</span>
            </button>
        </div>

        <!-- Nyama -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'nyama' %}`">
                <i class="fas fa-drumstick-bite"></i>
                <span>Nyama</span>
            </button>
        </div>

        <!-- Kuku -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'kuku' %}`">
                <i class="fas fa-drumstick-bite"></i>
                <span>Kuku</span>
            </button>
        </div>

        <!-- Mayai -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'mayai' %}`">
                <i class="fas fa-egg"></i>
                <span>Mayai</span>
            </button>
        </div>

        <!-- Maziwa -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'maziwa' %}`">
                <i class="fas fa-glass-whiskey"></i>
                <span>Maziwa</span>
            </button>
        </div>

        <!-- Viungo Mchanganyiko -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'viungo-mchanganyiko' %}`">
                <i class="fas fa-mortar-pestle"></i>
                <span>Viungo Mchanganyiko</span>
            </button>
        </div>

        <!-- Vyakula Vilivyofungashwa -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'vyakula-vilivyofungashwa' %}`">
                <i class="fas fa-box-open"></i>
                <span>Vyakula Vilivyofungashwa</span>
            </button>
        </div>

        <!-- Vyakula Vilivyokaushwa -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'vyakula-vilivyokaushwa' %}`">
                <i class="fas fa-box"></i>
                <span>Vyakula Vilivyokaushwa</span>
            </button>
        </div>

        <!-- Mazao ya Kilimo -->
        <div class="option-buttons-0004">
            <button type="button" class="category-0004"
                onclick="window.location.href=`{% url 'filter_products' 'mazao-ya-kilimo' %}`">
                <i class="fas fa-tractor"></i>
                <span>Mazao ya Kilimo</span>
            </button>
        </div>

    </div>

</div>