{% load static %}

<div class="heading-holder-1002">

    <div class="about-holder-1003">
        <div>
            <h1 onclick="window.location.href=`{% url 'home' %}`">
                <img src="{% static 'logo.png' %}" alt="logo">
                Wingastock
            </h1>

            <a href="{% url 'customer_register' %}" class="reg-1003" style="color: white;">
                <i class="fas fa-user-plus"></i>
                Register</a>
            <a href="{% url 'customer_login' %}" class="login-1003">
                <i class="fas fa-sign-in-alt"></i>
                Login</a>

            <a href="{% url 'about' %}">About us</a> |
            <a href="{% url 'terms' %}">Terms and conditions</a>
        </div>
    </div>

    <div class="heading-1002">

        <div class="search-holder-1003">
            <div class="search-input-1003">
                {% if search == 'search' %}
                <input type="search" placeholder="Search..." id="searchInput">
                {% else %}
                <input type="search" placeholder="Search..." onclick="window.location.href=`{% url 'search' %}`">
                {% endif %}
            </div>
            <div class="search-button-1003">
                <button type="button"><i class="fas fa-search"></i> Search</button>
            </div>
        </div>

    </div>
</div>



<!-- Cart -->
<div class="user-info-holder-1003" id="user_cart">
    <div>
        <span class="close-1003" onclick="open_cart(0)"><i class="fas fa-times"></i> Close</span>
        <p style="font-weight: bold;">Your cart</p>

        <ul class="user-1003">
            <p style="text-align: center;"><i class="fas fa-shopping-cart" style="font-size: 30px;"></i><br>
                Cart empty</p>
        </ul>
    </div>
</div>







<script>
    let lastScrollTop = 0;
    const header = document.querySelector('.heading-holder-1002');

    window.addEventListener('scroll', function () {
        const currentScroll = window.pageYOffset || document.documentElement.scrollTop;

        // Don't hide when we're at the very top
        if (currentScroll <= 0) {
            header.classList.remove('hide-header');
            lastScrollTop = 0;
            return;
        }

        // Scrolling down → hide
        if (currentScroll > lastScrollTop) {
            header.classList.add('hide-header');
        }

        // Scrolling up → show
        else {
            header.classList.remove('hide-header');
        }

        lastScrollTop = currentScroll;
    });
</script>


<script>
    function open_cart(click) {
        user = document.getElementById('user_cart');

        if (click == 1) {
            user.style.display = 'inline-block';
        }
        else {
            user.style.display = 'none';
        }
    }
</script>