{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/heading.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <title>Wingastock - Buy &amp; Sell Products in Tanzania</title>

    <meta name="description"
        content="Buy and sell electronics, phones, laptops, furniture, homes, and more on Wingastock, Tanzania's online marketplace.">

    <meta property="og:title" content="Wingastock - Buy &amp; Sell Products in Tanzania">

    <meta property="og:description"
        content="Buy and sell electronics, phones, laptops, furniture, homes, and more on Wingastock, Tanzania's online marketplace.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://wingastock.onrender.com/">
    <meta property="og:site_name" content="Wingastock">


    <meta name="robots" content="index, follow">

    <link rel="canonical" href="https://wingastock.onrender.com/">


    <meta property="og:image" content="/static/logo.png">

    <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">

    <meta name="google-site-verification" content="cBo6MO_R0NHmkbNtZ4TbAd5KcLYgqPdt0XB-BgMYi1o" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-STT2EJ7H54"></script>
    <!-- Microsoft tag -->
    <meta name="msvalidate.01" content="24C554194C77E0084DA5450B14850A0F" />


    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-STT2EJ7H54');
    </script>

    <style>
        .spin-holder-100 {
            background: crimson;
            position: fixed;
            bottom: 75px;
            left: 0;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            height: 50px;
            width: 80px;
        }

        .spin-holder-100>button {
            width: 100%;
            height: 100%;
            border-style: none;
            outline: none;
            background: transparent;
            cursor: pointer;
        }

        .spin-holder-100:hover {
            background: rgba(220, 20, 60, 0.678);
        }

        .spin-holder-100>button>img {
            width: 35px;
            height: 35px;
        }
    </style>
</head>

<body>

    <div class="page-loader-holder-000">
        <div>
            <button type="button">
                <h1>
                    <img src="{% static 'logo.png' %}" alt="logo"> <br>
                    <span>Wingastock</span>
                </h1>
            </button>
        </div>
    </div>


    <div class="row-holder-001">

        <!-- Inlude heading -->
        {% if user.email %}
        {% include 'header_s.html' %}
        {% else %}
        {% include 'heading.html' %}
        {% endif %}


        <div class="content-holder-002">

            <!-- Center content -->
            <div class="product-card-holder-1001">
                <div class="product-card-1002">

                    {% for product in products %}
                    {% include 'product-container.html' %}
                    {% endfor %}

                </div>
            </div>

            <!-- Spin to win icon -->
            <div class="spin-holder-100">
                <button type="button" onclick="window.location.href=`{% url 'spin' %}`">
                    <img src="{% static 'spin.png' %}" alt="spin icon">
                </button>
            </div>


            <div style="width: 100%; height: 100px; float: left;"></div>

        </div>

        <!-- Call for seller signup -->
        <div class="seller-signup-holder-1002" id="seller_ad">
            <div>
                <button type="button" class="seller-close-1002"
                    onclick="document.getElementById('seller_ad').style.display='none'">
                    <i class="fas fa-times"></i>
                </button>

                <div>
                    <p style="font-weight: bold; font-size: 15px;">Important!</p>
                    <p>Hello, We invite seller, winga, dalali and others deals with selling products like clothes,
                        electronics,
                        accessories, furnitures, food etc.</p>
                    <p>To create seller account today for free and start post products to reach many customers.
                        <a href="#" style="text-decoration: none; font-weight: bold; color: inherit;">Learn more...</a>
                    </p>
                </div>

                <button type="button" class="register-1002" onclick="window.location.href=`{% url 'seller_terms' %}`">
                    <i class="fas fa-user-plus"></i>
                    Create seller account</button>
            </div>
        </div>

        <!-- How to -->
        {% include 'how-to.html' %}

        <div class="footer-holder-1003">
            <div>
                <p>Wingastock | Online marketplace</p>
            </div>
        </div>


        <!-- Nav bar -->
        {% include 'navbar.html' %}

    </div>


    <script>
        window.addEventListener("load", function () {

            const loader = document.querySelector(
                ".page-loader-holder-000"
            );

            if (loader) {

                // Fade out the loader
                loader.classList.add("hidden");

                // Remove it completely after the animation
                setTimeout(function () {
                    loader.remove();
                }, 500);
            }

        });
    </script>


    <script>
        function menu_bar(click) {
            let menu_div = document.getElementById('menu_div');
            let button1 = document.getElementById('button1');
            let button2 = document.getElementById('button2');

            if (click == 'open') {
                menu_div.style.display = 'inline-block';
                button1.style.display = 'none';
                button2.style.display = 'inline-block';
            }
            else {
                menu_div.style.display = 'none';
                button2.style.display = 'none';
                button1.style.display = 'inline-block';
            }
        }
    </script>


    <script>
        document.querySelectorAll(".product-card").forEach(card => {

            const product = card.querySelector(".product-1002");
            const loader = card.querySelector(".loader");

            const img = new Image();

            img.onload = function () {
                product.style.backgroundImage = `url('${this.src}')`;
                loader.remove();
            };

            img.onerror = function () {
                // Hide loader but keep the card visible
                loader.remove();

                // Optional placeholder
                product.style.background = "#f2f2f2";
            };

            img.src = product.dataset.bg;
        });
    </script>
</body>

</html>