<div class="nav-holder-002">

    <div class="nav-content-003">
        <div>
            <button type="button" onclick="window.location.href=`{% url 'home' %}`">
                <i class="fas fa-home"></i><br>
                <span>Home</span>
            </button>
        </div>

        <div>
            <button type="button" onclick="window.location.href=`{% url 'favorities' %}`">
                <i class="fas fa-heart"></i><br>
                <span>Favorite</span>
            </button>
        </div>

        <div>
            <button type="button" onclick="window.location.href=`{% url 'categories' %}`">
                <i class="fas fa-th-large"></i><br>
                <span>Categories</span>
            </button>
        </div>

        <div>
            <button type="button" onclick="window.location.href=`{% url 'search' %}`">
                <i class="fas fa-search"></i><br>
                <span>Search</span>
            </button>
        </div>
        
    </div>
</div>
