{% load static %}
{% load humanize %}

<div class="product-card" onclick="window.location.href=`{% url 'product_details' product.id product.title %}`">


    <div class="product-1002" data-bg="{{ product.image.url }}">
        <div class="loader"></div>
    </div>

    <div class="product-details-1003">
        <ul>
            <li style="text-align: center;">
                <span class="ti-1003">{{ product.title }}</span>
            </li>
            <li class="seller-1003"><i class="fas fa-money-bill-wave"></i>
                <strong>{{ product.price|floatformat:0|intcomma }} TSh</strong>
            </li>
            <li class="seller-1003"><i class="fas fa-store"></i>
                <span>{{ product.owner.seller.seller_name }}</span>
            </li>

            <li class="seller-1003"><i class="fas fa-map-marker-alt"></i>
                <span>{{ product.owner.seller.seller_address }}</span>
            </li>

            <li style="text-align: right;" class="view-1003">
                <i class="fas fa-eye">{{ product.product_information.views }}</i>
                <i class="fas fa-thumbs-up">{{ product.product_information.likes }}</i>
                <i class="fas fa-thumbs-down">{{ product.product_information.dislikes }}</i>
            </li>
        </ul>
    </div>

</div>