{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style1.css' %}">
  <link rel="stylesheet" href="{% static 'css/style2.css' %}">
  <link rel="stylesheet" href="{% static 'css/heading.css' %}">
  <link rel="stylesheet" href="{% static 'seller_css/sellers_style.css' %}">

  <link rel="stylesheet" href="{% static 'css/search.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <title>Wingastock | {{ product.title }}</title>

  <meta name="description" content="Nunua na uza bidhaa za electoniki kama simu, laptops, TV, 
    pia tunauza samani za ndani (furniture), vyumba, nyumba na bidhaa mbalimbali kupitia jukwaa letu wingastock ">

  <meta name="robots" content="index, follow">

  <link rel="canonical" href="https://wingastock.onrender.com/">

  <meta property="og:title" content="Wingastock">

  <meta property="og:description" content="Soko mtandao Tanzania">


  <meta property="og:type" content="website">

  <meta property="og:image" content="/static/logo.png">

  <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">

  <meta name="google-site-verification" content="cBo6MO_R0NHmkbNtZ4TbAd5KcLYgqPdt0XB-BgMYi1o" />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-STT2EJ7H54"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-STT2EJ7H54');
  </script>

  <style>
    .actions-holder-103>div>button {
      padding: 20px;
      height: auto;
      border-radius: 5px;
    }
  </style>
</head>

<body>

  <div class="row-holder-001">

    <!-- Inlude heading -->
    {% if user.email %}
    {% include 'header_s.html' %}
    {% else %}
    {% include 'heading.html' %}
    {% endif %}


    <div class="content-holder-002">

      <!-- Preview product -->
      <div class="preview-product-holder-003">

        <div class="preview-product-004">

          <div class="preview-102">
            <!-- product image -->
            <div class="product-image-holder-103">
              <div class="product-image-103" style="background-image: url('{{ product.image.url }}');">
                <h1>{{ product.title }}</h1>
                <button type="button" class="small-image-103">
                  {% if product.image %}
                  <img src="{{ product.image.url }}" alt="{{ product.title }}">
                  {% endif %}
                </button>
              </div>
            </div>

            <div class="product-details-holder-103">
              <div>
                <div style="max-height: 600px; float: left;">
                  <p style="font-weight: bold;"><i class="fas fa-align-left"></i> Descriptions</p>

                  {% if messages %}
                  <div class="messages">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                      {{ message }}
                    </div>
                    {% endfor %}
                  </div>
                  {% endif %}

                  <div type="button" class="des-103">
                    {{ product.description }}
                  </div>
                  <table>
                    <tr>
                      <td><i class="fas fa-tags"></i> Category</td>
                      <td>{{ product.category }}</td>
                    </tr>

                    <tr>
                      <td><i class="fas fa-dollar-sign"></i> Price</td>
                      <td>{{ product.price }}</td>
                    </tr>

                    <tr>
                      <td><i class="fas fa-calendar-alt"></i> Uploaded date</td>
                      <td>{{ product.created_at }}</td>
                    </tr>

                    <tr>
                      <td><i class="fas fa-store"></i> Seller</td>
                      <td>{{ product.owner.seller.seller_name }}</td>
                    </tr>

                    <tr>
                      <td><i class="fas fa-map-marker-alt"></i> Location</td>
                      <td>{{ product.owner.seller.seller_address }}</td>
                    </tr>

                  </table>

                  <div class="actions-holder-103">
                    <div>

                      {% if user.email %}
                      <button type="button" style="background: green;"
                        onclick="window.location.href=`{% url 'make_product_visible' product.id %}`">
                        <i class="fab fa-whatsapp"></i>
                        Get seller whatsapp number</button>
                      {% else %}
                      <button type="button"
                        style="background: whitesmoke; color: crimson; border: 1px solid rgba(220, 20, 60, 0.511);"
                        onclick=" window.location.href=`{% url 'make_product_hide' product.id %}`">
                        <i class="fab fa-whatsapp"></i>
                        Register to get seller whatsapp number</button>
                      {% endif %}

                    </div>

                    <div>
                      {% if user.email %}
                      <button type="button" style="background: lightseagreen;" id="shareBtn">
                        <i class="fas fa-paper-plane"></i>
                        Send seller message</button>
                      {% else %}
                      <button type="button"
                        style="background: whitesmoke; color: crimson; border: 1px solid rgba(220, 20, 60, 0.511);"
                        onclick="window.location.href=`{% url 'make_product_hide' product.id %}`">
                        <i class="fas fa-paper-plane"></i>
                        Register, inorder to send message to seller</button>
                      {% endif %}
                    </div>

                    <div>
                      <button type="button" style="background: dodgerblue;" id="shareBtn">
                        <i class="fas fa-share-alt"></i>
                        Share product to others</button>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <div>
                  <p style="font-weight: bold;">Other informations</p>
                  <div class="other-103">
                    <button type="button"><i class="fas fa-eye"></i> Views: </button>
                    <button type="button"><i class="fas fa-thumbs-up"></i> Likes: </button>
                    <button type="button"><i class="fas fa-thumbs-down"></i> Dislikes: </button>
                  </div>
                  <div class="comments-holder-103">
                    <p style="font-weight: bold;"><i class="fas fa-comments"></i> Customers comments
                      on product</p>
                    <ul>
                      <li>Good product</li>
                      <li>Fake product</li>
                      <li>Not valid product</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

      <div style="width: 100%; height: 100px; float: left;"></div>



    </div>

    <div class="footer-holder-1003">
      <div>
        <p>Wingastock | Online marketplace</p>
      </div>
    </div>

    <!-- Nav bar -->
    {% include 'navbar.html' %}

  </div>


  <script>
    const shareBtn = document.getElementById("shareBtn");

    shareBtn.addEventListener("click", async () => {

      try {

        const response = await fetch("{{ product.image.url }}");
        const blob = await response.blob();

        const file = new File(
          [blob],
          "product.jpg",
          { type: blob.type }
        );

        if (navigator.canShare &&
          navigator.canShare({ files: [file] })) {

          await navigator.share({
            title: "{{ product.title|escapejs }}",
            text: "{{ product.title|escapejs }}\n\n{{ product.description|truncatechars:150|escapejs }}",
            url: window.location.href,
            files: [file]
          });

        } else {

          await navigator.share({
            title: "{{ product.title|escapejs }}",
            text: "{{ product.title|escapejs }}\n\n{{ product.description|truncatechars:150|escapejs }}",
            url: window.location.href
          });

        }

      } catch (error) {
        console.error(error);
      }

    });
  </script>

  <script>
    function menu_bar(click) {
      let menu_div = document.getElementById('menu_div');
      let button1 = document.getElementById('button1');
      let button2 = document.getElementById('button2');

      if (click == 'open') {
        menu_div.style.display = 'inline-block';
        button1.style.display = 'none';
        button2.style.display = 'inline-block';
      }
      else {
        menu_div.style.display = 'none';
        button2.style.display = 'none';
        button1.style.display = 'inline-block';
      }
    }
  </script>
</body>

</html>