{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wingastock | Login</title>
  <link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'seller_css/login.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>

      <!-- Page Loader -->
<div id="page-loader">
    <div class="loader-content">
        <div class="spinner"></div>
        <div class="loading-text">Loading<span class="dots"></span></div>
    </div>
</div>

  <div class="login-container">


    <!-- RIGHT SIDE -->
    <div class="login-right">

      <div class="advertise-201">
        <div class="typing-container">
          <h1>Wingastock Online platform</h1>
          <br>
          <h1>
            With us, reach <span id="typing"></span><span class="cursor">|</span>
          </h1>

          <button type="button" style="width: 150px;" onclick="window.location.href=`{% url 'home' %}`">
            Back Home</button>
        </div>

      </div>

      <div class="login-form-201">
        <div>
          <form method="POST">
            {% csrf_token %}

            <div class="form-divider-201">
              <h2>Customer register</h2>
              <div class="input-holder-201">
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter email" required>
              </div>

              <div class="input-holder-201">
                <label>Password</label>
                <input type="password" name="password" placeholder="Enter password" required>
              </div>

              <div class="input-holder-201">
                <label for=""></label>
                <button type="submit">Register</button>
              </div>
            </div>

            <div class="footer-201">
              {% if error %}
              <p style="text-align: center; color: red;">{{ error }}</p>
              {% endif %}
              <p>I have an account? <a href="{% url 'customer_login' %}"
                  style="color: crimson; text-decoration: none; font-weight: bold;">Login</a></p>
            </div>

          </form>
        </div>
      </div>

    </div>

  </div>

  <script>
    window.addEventListener("load", function () {

      const loader = document.getElementById("page-loader");

      if (loader) {
        loader.classList.add("hidden");

        setTimeout(function () {
          loader.remove();
        }, 400);
      }

    });
  </script>


  <script>
    const words = [
      "favorite products",
      "more sellers",
      "products",
    ];

    let wordIndex = 0;
    let charIndex = 0;
    let deleting = false;

    function typeEffect() {
      const element = document.getElementById("typing");
      const word = words[wordIndex];

      if (!deleting) {
        element.textContent = word.substring(0, charIndex + 1);
        charIndex++;

        if (charIndex === word.length) {
          deleting = true;
          setTimeout(typeEffect, 1500);
          return;
        }
      } else {
        element.textContent = word.substring(0, charIndex - 1);
        charIndex--;

        if (charIndex === 0) {
          deleting = false;
          wordIndex = (wordIndex + 1) % words.length;
        }
      }

      setTimeout(typeEffect, deleting ? 60 : 100);
    }

    typeEffect();
  </script>

</body>

</html>